@use '../../styles/typography.scss' as typography;

.wrapper {
    height: 4.75rem;
    display: flex;
    justify-content: flex-end;
}

.navContainer {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-right: 2rem;

    img {
        width: 1.5rem;
        height: 1.5rem;
    }
}

.profileContainer {
    display: flex;
    gap: 1rem;
    align-items: center;

    img {
        width: 2.8125rem;
        height: 2.8125rem;
    }
}

.profileInfo{
    .profileName{
        @include typography.body-2;
    }

    .profileRole{
        @include typography.body-3;
    }
}
